$text-primary: #333333; 
$text-secondary: #76787D; 
$text-tertiary: #E31F24;
$text-quaternary: #FFFFFF;

$background-primary: #E0E0E0;
$background-secondary: #FDFDFD;
$background-tertiary: #FFFFFF;
$background-quaternary: #E31F24;
$background-quinary: #000000; 

$border-primary: #333333;
$border-secondary: #EDEDED; 
$border-tertiary: #E0E0E0;
$border-quaternary: #E9ECEF; 

$box-shadow-primary: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
$box-shadow-secondary:  0 2px 8px rgba(0, 0, 0, 0.15);